Repository quickwrench/quickwrench-api, pull requests merged in 2024-12, with the labels that each got.

#14 docs: add readme and license
  .gitignore
  LICENSE.txt
  README.md
  assets/logo.png
Labels: documentation

#16 Feat/workshops model
  src/quickwrench_api/apps/workshops/fixtures/categories.json
  src/quickwrench_api/apps/workshops/migrations/0001_initial.py
  src/quickwrench_api/apps/workshops/models.py
  src/quickwrench_api/apps/workshops/serializers.py
  src/quickwrench_api/apps/workshops/urls.py
  src/quickwrench_api/apps/workshops/views.py
  src/quickwrench_api/server/main.py
  src/quickwrench_api/settings/base.py
  src/quickwrench_api/urls.py
  tests/apps/users/conftest.py
  tests/apps/workshops/__init__.py
  tests/apps/workshops/conftest.py
  tests/apps/workshops/test_views.py
  tests/conftest.py
Labels: enhancement, services, workshops

#25 v0.2.0
  .github/workflows/release.yml
  .gitignore
  pyproject.toml
  reqs/dev.txt
  reqs/prod.txt
  src/quickwrench_api/apps/accounts/migrations/0001_initial.py
  src/quickwrench_api/apps/accounts/models.py
  src/quickwrench_api/apps/accounts/serializers.py
  src/quickwrench_api/apps/accounts/urls.py
  src/quickwrench_api/apps/accounts/utils.py
  src/quickwrench_api/apps/accounts/validators.py
  src/quickwrench_api/apps/accounts/views.py
  src/quickwrench_api/apps/car_makes/fixtures/carmakes.json
  src/quickwrench_api/apps/carmakes/__init__.py
  src/quickwrench_api/apps/carmakes/apps.py
  src/quickwrench_api/apps/carmakes/fixtures/carmakes.json
  src/quickwrench_api/apps/carmakes/migrations/0001_initial.py
  src/quickwrench_api/apps/carmakes/migrations/__init__.py
  src/quickwrench_api/apps/carmakes/models.py
  src/quickwrench_api/apps/carmakes/serializers.py
  src/quickwrench_api/apps/carmakes/urls.py
  src/quickwrench_api/apps/carmakes/views.py
  src/quickwrench_api/apps/users/filters.py
  src/quickwrench_api/apps/users/migrations/0001_initial.py
  src/quickwrench_api/apps/users/migrations/0002_alter_user_car_make.py
  src/quickwrench_api/apps/users/models.py
  src/quickwrench_api/apps/users/serializers.py
  src/quickwrench_api/apps/users/urls.py
  src/quickwrench_api/apps/users/views.py
  src/quickwrench_api/apps/workshops/filters.py
  src/quickwrench_api/apps/workshops/migrations/0001_initial.py
  src/quickwrench_api/apps/workshops/models.py
  src/quickwrench_api/apps/workshops/serializers.py
  src/quickwrench_api/apps/workshops/urls.py
  src/quickwrench_api/apps/workshops/views.py
  src/quickwrench_api/settings/base.py
  src/quickwrench_api/settings/env.py
  src/quickwrench_api/urls.py
  tests/apps/accounts/conftest.py
  tests/apps/accounts/test_views.py
  tests/apps/car_makes/test_views.py
  tests/apps/users/conftest.py
  tests/apps/users/test_views.py
  tests/apps/workshops/conftest.py
  tests/apps/workshops/test_views.py
  tests/conftest.py
Labels: enhancement, accounts, services, testing, workshops, users
